# Virtual environment
.venv/
# Python cache
_ _pycache_ _/
*.pyc
# Environmental variables
.env
# Data
data/
# OS junk
.DS_Store
Thumb.db
# Development
development/
# pytest
.pytest_cache
# tests
tests/
# models
models
