# Virtual environment
.venv/
# python cache
_ _pycache_ _/
*.pyc
# Environmental variables
.env
# Data
data/raw/
# OS junk
.DS_Store
Thumb.db
# Development
development/evaluate.py
development/train.py
development/tune.py
# pytest
.pytest_cache
